.header {
    min-height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header__logo {

    }
    ul {
        list-style: none;
        display: flex;
        li {
            margin: 0 30px;
            a {
                text-decoration: none;
                color: white;
                font-size: 700;
                cursor: pointer;
            }
        }
    }
    padding: 0px 10px;
}